#
# Xcode
#

build/
*~.nib/
*.moved-aside
profile
*.pbxuser
!default.pbxuser
*.mode1v3
!default.mode1v3
*.mode2v3
!default.mode2v3
*.perspective
!default.perspective
*.perspectivev3
!default.perspectivev3
xcuserdata
*.xcodeproj/project.xcworkspace/
*.xcodeproj/xcuserdata/

#
# OS X noise
#

.DS_Store
Icon
.Spotlight-V100
.Trashes

#
# Misc
#

*~
*.bak
*.o
*.pyc
*.pyo

#
# Tower
#

/Icon.png